html, body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

body {
	background-color: #111;
	color: #DDD;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	padding: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-sizing: border-box;
	max-width: 600px;
}

input, #inputbox {
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	outline: none;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	background-color: #222;
	border-radius: 2px;
	border: 1px solid #252525;
	color: #DDD;
}

#passwordbox:not(:focus) {
	color: transparent;
	text-shadow: 0 0 5px rgba(221, 221, 221, 0.75);
}

#inputbox * {
	caret-color: #DDD;
}

.correct {
	color: #2E7D32;
}

.incorrect {
	color: #C62828;
}